<form action="/submit" method="post">
    <h4>First name</h4>
    <input type="text" placeholder="Enter your name" name="fname">
    <h4>Last Name</h4>
    <input type="text" placeholder="Enter Last name" name="lname">
    <h4>Email</h4>
    <input type="text" placeholder="Email" name="email">
    <button type="submit" class="btn btn-danger">Submit</button></form>